body {
    background-color: rgb(18, 18, 18);
    color: ghostwhite;
}

.list-unstyled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.inputs {
    width: 30rem;
}

#message {
    height: 100px;
}

#email {
    height: 
}

